# Keep environment variables out of version control
# Ignorar diretório node_modules
node_modules

# Ignorar diretório de build
build

# Ignorar diretório de public
# public

# Ignorar .env de configurações
# .env

# Ignorar .git
.git